<h3>Sửa Thông Tin Sách</h3>
<form method="POST" action="/books/{{book._id}}?_method=PUT" class="mt-4">
    <div class="form-book">
        <label for="name">Tên sách </label>
        <input type="text" value="{{book.name}}" class="form-control" name="name" id="name">
    </div>
    <div class="form-book">
        <label for="author">Tác giả </label>
        <input type="text" value="{{book.author}}" class="form-control" name="author" id="author">
    </div>
    <div class="form-book">
        <label for="price">Giá sách </label>
        <input type="text" value="{{book.price}}" class="form-control" name="price" id="price">
    </div>
    <div class="form-book">
        <label for="videoId">Video Id</label>
        <input type="text" value="{{book.videoId}}" class="form-control" name="videoId" id="videoId">
    </div>

    <button type="submit" class="btn btn-primary mt-4  ">Sửa Thông Tin Sách</button>
</form>